@import url('https://fonts.googleapis.com/css?family=Muli|Open+Sans');

#root {
  width: 100%;
  height: 100%;
}

.rr-app {
  width: 100%;
  height: 100%;
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999; /* to make sure it stays on top */
}

  .rr-app-wrapper {
    margin: 0 auto;
    max-width: 900px;
    font-family: 'Open Sans', sans-serif;
  }
    /* typography */
    .rr-app-wrapper p {
      font-size: 1em;
      font-family: 'Open Sans', sans-serif;
    }

      .rr-app-wrapper p span.rr-fade {
        opacity: 0.2;
      }
    
    .rr-app-wrapper img,
    .rr-app-wrapper video,
    .rr-app-wrapper iframe {
      max-width: 100%;
      width: auto;
      height: auto;
    }

    .rr-app-wrapper a {
      color: #4e7de8
    }
    
    .rr-app-wrapper a:hover {
      color: #3d63b9
    }

    /* content styles */
    .rr-content__wrapper {
      padding: 25px;
      font-size: 1em;
    }

      /* heading styles */
      .rr-app-wrapper h1,
      .rr-app-wrapper h2,
      .rr-app-wrapper h3,
      .rr-app-wrapper h4,
      .rr-app-wrapper h5,
      .rr-app-wrapper h6 {
        margin-top: 1em;
        margin-bottom: .3em;
        line-height: 1.3;
        font-family: 'Muli', sans-serif;
      }
      .rr-app-wrapper h1 {
        font-size: 2.5em;
        font-family: 'Muli', sans-serif;
        font-weight: bold;
      }
      .rr-app-wrapper h2 {
        font-size: 2em;
        font-family: 'Muli', sans-serif;
        font-weight: bold;
      }
      .rr-app-wrapper h3 {
        font-size: 1.77em;
        font-family: 'Muli', sans-serif;
        font-weight: bold;
      }
      .rr-app-wrapper h4 {
        font-size: 1.55em;
        font-family: 'Muli', sans-serif;
        font-weight: bold;
      }
      .rr-app-wrapper h5 {
        font-size: 1.33em;
        font-family: 'Muli', sans-serif;
        font-weight: bold;
      }
      .rr-app-wrapper h6 {
        font-size: 1.22em;
        font-family: 'Muli', sans-serif;
        font-weight: bold;
      }

/* Buttons */
.rr-button--close {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  padding: 0;
  line-height: 27px;
  border-radius: 0 0 12px 10px;
}

/* theme */
  .theme-white p,
  .theme-white h1,
  .theme-white h2,
  .theme-white h3,
  .theme-white h4,
  .theme-white h5,
  .theme-white h6{
    color: #303030;
  }

  .theme-dark p,
  .theme-dark h1,
  .theme-dark h2,
  .theme-dark h3,
  .theme-dark h4,
  .theme-dark h5,
  .theme-dark h6{
    color: #ffffff;
    /* make sure that the site styles are not applied for the color of heading*/
    color: #ffffff !important;
  }

@media (prefers-color-scheme: light) {
  .rr-app {
    color: #303030;
    background-color: #ffffff;
  }

  .rr-button--close {
    background: #f1f3f4;
    border: 1px solid #dbdcdd;
    border-top: none;
    color: #606269;
  }

  .rr-button--close:hover {
    background: #f1f3f4;
  }
}
@media (prefers-color-scheme: dark) {
  .rr-app {
    color: #ffffff;
    background-color: #1c1f21;
  }

  .rr-button--close {
    border: 1px solid #606165;
    border-top: none;
    color: #fff;
    background-color: #35363a;
  }

  .rr-button--close:hover {
    background-color: #35363a;
  }
}
